################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMIS/FileContentIndex
/.vs/HMIS/DesignTimeBuild/.dtbcache.v2
/.vs/HMIS/v17/.futdcache.v2
/.vs/HMIS/v17/.suo
/.vs/HMIS/v17/DocumentLayout.json
/.vs/ProjectEvaluation/hmis.metadata.v8.bin
/.vs/ProjectEvaluation/hmis.projects.v8.bin
/.vs/ProjectEvaluation/hmis.strings.v8.bin
/HMIS/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/.vs/HMIS/v17/.suo
/.gitignore
/HMIS/bin/Debug/net8.0/HMIS.API.dll
/HMIS/bin/Debug/net8.0/HMIS.API.exe
/HMIS/bin/Debug/net8.0/HMIS.API.pdb
/HMIS/bin/Debug/net8.0/HMIS.DataAccess.dll
/HMIS/bin/Debug/net8.0/HMIS.DataAccess.pdb
/HMIS/bin/Debug/net8.0/HMIS.Domain.dll
/HMIS/bin/Debug/net8.0/HMIS.Domain.pdb
/HMIS/obj/Debug/net8.0/ref/HMIS.API.dll
/HMIS/obj/Debug/net8.0/refint/HMIS.API.dll
/HMIS/obj/Debug/net8.0/apphost.exe
/HMIS/obj/Debug/net8.0/HMIS.API.AssemblyInfoInputs.cache
/HMIS/obj/Debug/net8.0/HMIS.API.csproj.AssemblyReference.cache
/HMIS/obj/Debug/net8.0/HMIS.API.dll
/HMIS/obj/Debug/net8.0/HMIS.API.pdb
/HMIS/obj/Debug/net8.0/HMIS.API.sourcelink.json
/HMIS/obj/Debug/net8.0/HMIS.API.AssemblyInfo.cs
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.Domain.dll
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.Domain.pdb
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.AssemblyInfo.cs
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.AssemblyInfoInputs.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.csproj.AssemblyReference.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.sourcelink.json
/HMIS.DataAccess/obj/Debug/net8.0/refint/HMIS.DataAccess.dll
/HMIS.Domain/bin/Debug/net8.0/HMIS.Domain.dll
/HMIS.Domain/bin/Debug/net8.0/HMIS.Domain.pdb
/HMIS.DataAccess/obj/Debug/net8.0/ref/HMIS.DataAccess.dll
/HMIS.Domain/obj/Debug/net8.0/ref/HMIS.Domain.dll
/.vs/HMIS/v17/DocumentLayout.json
/HMIS.Domain/obj/Debug/net8.0/refint/HMIS.Domain.dll
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.AssemblyInfo.cs
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.AssemblyInfoInputs.cache
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.dll
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.pdb
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.sourcelink.json
