################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HMIS/FileContentIndex
/.vs/HMIS/DesignTimeBuild/.dtbcache.v2
/.vs/HMIS/v17/.futdcache.v2
/.vs/HMIS/v17/.suo
/.vs/HMIS/v17/DocumentLayout.json
/.vs/ProjectEvaluation/hmis.metadata.v8.bin
/.vs/ProjectEvaluation/hmis.projects.v8.bin
/.vs/ProjectEvaluation/hmis.strings.v8.bin
/HMIS/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/.vs/HMIS/v17/.suo
/.vs/HMIS/v17/DocumentLayout.json
/.vs/HMIS/config/applicationhost.config
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.deps.json
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.DataAccess.runtimeconfig.json
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.Domain.dll
/HMIS.DataAccess/bin/Debug/net8.0/HMIS.Domain.pdb
/HMIS.DataAccess/bin/Release/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/bin/Release/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/bin/Release/net8.0/HMIS.Domain.dll
/HMIS.DataAccess/bin/Release/net8.0/HMIS.Domain.pdb
/HMIS.DataAccess/obj/Debug/net8.0/ref/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.Dat.B02A2234.Up2Date
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.AssemblyInfo.cs
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.AssemblyInfoInputs.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.assets.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.csproj.AssemblyReference.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.csproj.CoreCompileInputs.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.csproj.FileListAbsolute.txt
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.genruntimeconfig.cache
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/obj/Debug/net8.0/HMIS.DataAccess.sourcelink.json
/HMIS.DataAccess/obj/Debug/net8.0/refint/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/HMIS.DataAccess.csproj.nuget.dgspec.json
/HMIS.DataAccess/obj/HMIS.DataAccess.csproj.nuget.g.props
/HMIS.DataAccess/obj/project.assets.json
/HMIS.DataAccess/obj/project.nuget.cache
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.AssemblyInfo.cs
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.AssemblyInfoInputs.cache
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.csproj.AssemblyReference.cache
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.pdb
/HMIS.DataAccess/obj/Release/net8.0/HMIS.DataAccess.sourcelink.json
/HMIS.DataAccess/obj/Release/net8.0/refint/HMIS.DataAccess.dll
/HMIS.DataAccess/obj/Release/net8.0/ref/HMIS.DataAccess.dll
/HMIS.Domain/bin/Debug/net8.0/HMIS.Domain.deps.json
/HMIS.Domain/bin/Debug/net8.0/HMIS.Domain.dll
/HMIS.Domain/bin/Debug/net8.0/HMIS.Domain.pdb
/HMIS.Domain/bin/Release/net8.0/HMIS.Domain.dll
/HMIS.Domain/bin/Release/net8.0/HMIS.Domain.pdb
/HMIS.Domain/obj/Debug/net8.0/ref/HMIS.Domain.dll
/HMIS.Domain/obj/Debug/net8.0/refint/HMIS.Domain.dll
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.AssemblyInfo.cs
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.AssemblyInfoInputs.cache
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.assets.cache
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.csproj.CoreCompileInputs.cache
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.csproj.FileListAbsolute.txt
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.dll
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.GeneratedMSBuildEditorConfig.editorconfig
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.pdb
/HMIS.Domain/obj/Debug/net8.0/HMIS.Domain.sourcelink.json
/HMIS.Domain/obj/Release/net8.0/ref/HMIS.Domain.dll
/HMIS.Domain/obj/Release/net8.0/HMIS.Domain.AssemblyInfo.cs
/HMIS.Domain/obj/Release/net8.0/HMIS.Domain.AssemblyInfoInputs.cache
/HMIS.Domain/obj/Release/net8.0/HMIS.Domain.dll
/HMIS.Domain/obj/Release/net8.0/HMIS.Domain.pdb
/HMIS.Domain/obj/Release/net8.0/HMIS.Domain.sourcelink.json
/HMIS.Domain/obj/Release/net8.0/refint/HMIS.Domain.dll
/HMIS.Domain/obj/HMIS.Domain.csproj.nuget.dgspec.json
/HMIS.Domain/obj/HMIS.Domain.csproj.nuget.g.props
/HMIS.Domain/obj/project.assets.json
/HMIS.Domain/obj/project.nuget.cache
